Plugins>DJP, "Texture map", TextureMap_("")
Plugins>DJP, "Resample image", ResampleImage_("")
Plugins>DJP, "Eye model", EyeModel_("")
Plugins>DJP, "Task function", TaskFunction_("")
Plugins>DJP, "Noise power spectrum (CT)", NoisePowerSpectrum_("")
Plugins>DJP, "Task transfer function (CT)", TaskTransferFunction_("")
Plugins>DJP, "Detectability index (CT)", DetectabilityIndex_("")
